@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-pink: #2510a3;
  --color-blue: #2510a3;
  --color-black: #0c0c0c;
  --color-purple: #5f01ac;
  --color-grey: #111111;
  --color-cinzaclaro: #191919;
  --color-red: #4169e1;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  background: var(--color-grey);
}

body {
  font-family: 'Poppins', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 15px 30px;
  position: fixed;

  background: 'transparent';
  transition: all .3s ease-out;

  z-index: 2;
}

.header-title {
  text-decoration: none;
}

.header-title h1 {
  color: var(--color-white);

  font-size: 2rem;
  transition: opacity .3s ease;
}

.header-title h1:hover {
  opacity: .8;
}

.navbar {
  max-width: 350px;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--color-white);

  font-size: 1.4rem;
  font-weight: 700;
}

.menu-hamburguer {
  display: none;
}

@media (max-width: 560px) {
  .navbar {
    display: flex;
    justify-content: end;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100vh;

    position: fixed;
    right: 0;
    top: 0;
    background: #333;
    clip-path: circle(100px at 90% -20%);

    pointer-events: none;
    transition: .6s ease-out;
  }

  .menu-hamburguer {
    display: block;

    padding: 0;
    margin-bottom: .4rem;
    border: none;
    border-top: 3px solid var(--color-white);

    background: transparent;
    transition: all .3s ease-in-out;

    z-index: 1;
  }

  .menu-hamburguer:hover {
    opacity: .8;
    cursor: pointer;
  }

  .menu-hamburguer::before,
  .menu-hamburguer::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;

    margin-top: .6rem;

    background: var(--color-white);
  }

  /*ativo*/

  .navbar.active .navbar-links {
    clip-path: circle(1400px at 90% -18%);
    pointer-events: all;
  }

  .navbar.active .menu-hamburguer {
    border-top-color: transparent;
  }

  .navbar.active .menu-hamburguer::before {
    transition: all .2s ease-in-out;
    transform: rotate(-45deg) translate(-2px, -1px);
  }

  .navbar.active .menu-hamburguer::after {
    transition: all .2s ease-in-out;
    transform: rotate(45deg) translate(-7px, -5px);
  }


}


@media (min-width: 1840px) {
  .header-title h1 {
    font-size: calc(1vw + .8rem);
  }

  .navbar {
    max-width: 25vw;
  }

  .navbar-links li {
    margin: 1rem;
  }

  .navbar-links li a {
    font-size: calc(1vw + .3rem);
  }
}



#person {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;

  background: var(--color-grey);
}

.person-content {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background: var(--color-grey);
}

.person-content div h1 {
  padding: 0px 4px;
  color: transparent;

  position: relative;
  width: fit-content;

  font-size: calc(2vw + 1.5rem);
  line-height: calc(3vw + 1.8rem);

  animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1) {
  animation-delay: 1s;
}

.person-content div h1:nth-child(2) {
  animation-delay: 2s;
}

.person-content div h1:nth-child(3) {
  animation: written_text_name .5s ease forwards;
  animation-delay: 3s;
}

.person-content div h1 span {
  position: absolute;
  top: 0;
  left: 0;

  width: 0px;
  height: 100%;
  background: var(--color-red);

  animation: written_text_box 1s ease;
  animation-delay: .5s;
}

.person-content div h1:nth-child(1) span {
  animation-delay: .5s;
}

.person-content div h1:nth-child(2) span {
  animation-delay: 1.5s;
}

.person-content div h1:nth-child(3) span {
  animation-delay: 2.5s;
}

.person-name {
  margin-top: 11rem;
  padding: 0px 20px;
}

.stacks-content {
  display: flex;
  justify-content: center;

  margin: 5rem 0rem 2rem;
  flex-direction: column;

  padding: 0px 20px;
}

.stacks-content h3 {
  color: var(--color-white);
  font-size: calc(.85vw + .5rem);

  margin-left: 20px;
}

.stacks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.stacks li {
  display: flex;
  align-items: center;

  position: relative;

  margin: 10px;
  padding: 10px;

  list-style: none;
}


.stacks li img {
  width: calc(2.5vw + 0.5rem);
  height: auto;

  transition: transform .3s ease;
}

.stacks li div img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.stacks li div:hover::after {
  content: attr(data);
  position: absolute;
  top: calc(5vw + 1rem);
  left: calc(1vw + 0.5rem);

  width: 20px;
  height: 20px;

  color: var(--color-white);
  font-size: 1.25vh;
}


/* sm */
@media (max-width: 376px) {
  .person-name {
    padding: 0px 10px;
  }

  .stacks-content {
    padding: 0px 10px;
  }

  .stacks-content h3 {
    margin-left: 10px;
  }

  .stacks {
    margin-top: 10px;
  }

  .stacks li {
    margin: 0px;
  }

  .stacks li img {
    width: calc(3.5vw + 0.5rem);
  }
}


/* sm -> md */
@media (min-width: 377px) and (max-width: 768px) {
  .person-name {
    padding: 0px 10px;
  }

  .stack-content {
    padding: 0px 15px;
  }

  .stacks-content h3 {
    margin-left: 10px;
  }

  .stacks {
    margin-top: 10px;
  }

  .stacks li {
    margin: 0px;
  }

  .stacks li img {
    width: calc(3.2vw + 0.5rem);
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .stacks li div:hover::after {
    font-size: 1.3vw;
  }

  .stacks-content h3 {
    font-size: 1vw;
  }
}


.person-background {
  height: 100vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  flex-direction: column;

  background-image: url(./img/img1.jpg);
  background-size: cover;
  background-position: top center;

  z-index: 1;
}

.person-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  opacity: .7;
  z-index: -1;

  background:
    linear-gradient(90deg, transparent 30%, var(--color-grey)),
    linear-gradient(180deg, transparent 30%, var(--color-grey)),
    linear-gradient(0deg, transparent 65%, var(--color-grey));
}

.wrapper-profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: calc(1vw + 0.2rem);
  margin: 20px 15px;

  border-radius: 50%;
  background:
    radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(#000 68%, transparent 0),
    linear-gradient(to top right, #00008B 0%, #87CEEB 100%);
}

.profile-photo {
  max-width: 320px;
  width: 100%;
  border-radius: 50%;
}

.links a img {
  width: calc(2vw + 0.8rem);
  height: calc(2vw + 0.8rem);

  margin: calc(0.8vw + 0.8rem);
  filter: brightness(.8);
  transition: all .3s ease;
}

.links a img:hover {
  transform: scale(1.15);
  filter: brightness(1);
}

@media (max-width: 768px) {
  .links a img {
    width: 20px;
    height: 20px;
  }
}


@media (max-width: 1440px) and (orientation: landscape) {
  .profile-photo {
    width: 45vh;
  }
}

@media (min-width: 1440px) {
  .profile-photo {
    width: 25vw;
    max-width: initial;
  }
}
#about {
  height: auto;
  width: 100%;
  background: var(--color-grey);

  display: flex;
  color: var(--color-white);
}

.background-about {
  width: 50%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.img-wrapper {
  height: 100%;
  width: 100%;

  position: relative;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background:
    linear-gradient(.25turn, transparent 30%, var(--color-grey)),
    linear-gradient(.5turn, transparent 30%, var(--color-grey)),
    linear-gradient(1turn, transparent 65%, var(--color-grey));

}

.img-wrapper img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.box-about {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50%;

  padding: 3rem;
  margin: 6rem 0rem;
}

.section-subtitle h2 p {
  display: inline-block;
  font-size: calc(1.4vw + 1.2rem);
}

.section-subtitle h2 p:nth-child(2) span {
  padding: 3px 5px;
  border-radius: 4px;

  color: var(--color-grey);
  background: var(--color-white);
}

.box-about h3 {
  margin: 3rem;
  font-size: calc(.8vw + .8rem);
}

.box-about h3 p {
  display: inline-block;

  width: fit-content;
  padding: 2px 4px;
  border-radius: 4px;

  color: var(--color-grey);
  background: var(--color-red);
}

.box-about h4 {
  margin: 1rem 3rem;
  font-size: calc(.8vw + .5rem);
}

.box-about h4 p {
  display: inline;
  padding: 2px 4px;

  color: var(--color-red);
}

.button-cta {
  display: flex;

  max-width: 190px;
  margin: 4rem 3rem;
}

.button-cta a {
  display: inline-block;

  padding: calc(0.2vw + 0.8rem) calc(2vw + 0.8rem);
  margin-bottom: 3rem;

  font-size: calc(.7vw + .55rem);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: .15rem;
  color: var(--color-grey);
  background: var(--color-white);
  text-align: center;
  text-decoration: none;


  border-radius: 10px;
  cursor: pointer;
}

.button-cta a:hover {
  transition: all .3s ease;
  filter: brightness(.8);
}

/* sm */
@media (max-width: 375px) {
  .box-about {
    padding: 1rem
  }

  .section-subtitle p {
    font-size: 2rem;
  }

  .box-about h3 {
    margin: 2rem 1rem;
  }

  .box-about h4 {
    margin: 1rem;
  }

}

@media (min-width: 376px) and (max-width: 768px) {
  .box-about {
    padding: 1.3rem;
  }

  .section-subtitle p {
    font-size: 2rem;
  }

  .box-about h3 {
    margin: 1.5rem 1rem;
  }

  .box-about h4 {
    margin: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .box-about {
    padding: 1.8rem;
  }

  .section-subtitle p {
    font-size: 2.5rem;
  }

  .box-about h3 {
    margin: 2rem 1rem;
  }

  .box-about h4 {
    margin: 1.5rem;
  }
}


/* Final da sobre */

#projects {
  height: auto;
  width: 100%;
  background: var(--color-grey);

  display: flex;
  flex-direction: column;
}

.projects-title h2 {
  margin-top: 60px;
  padding: 1rem;

  font-size: 3rem;
  color: var(--color-white);
}

/* .wrapper-projects {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;

  height: 500px;

  margin-top: 2rem;
} */

.container-projects {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 500px;
  width: 100%;
  max-width: 1020px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 500px;

  margin-top: 2rem;
  padding: 0px 20px;
}

.card-project {
  /* width: 320px; */
  /* height: 450px; */

  height: 100%;
  width: 100%;

  padding: 30px 20px 20px;
  /* margin: 0px 10px; */

  position: relative;
  background: var(--color-white);

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 20px;

  z-index: 1;

}

.card-project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 40%;
  width: 100%;

  background: var(--color-red);
  border-radius: 20px 20px 0px 0px;

  z-index: -1;
}

/* .content-project {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  z-index: 1;
} */

.image-project {
  max-height: 240px;
  max-width: 250px;

  height: 100%;
  width: 100%;

  position: relative;
  overflow: hidden;
  border-radius: 35px;

  border: 3px solid var(--color-red);

  margin: 0 auto;
}

.image-project a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 34px;
  position: absolute;
  top: 0;
  left: 0;

  border: 1px solid var(--color-white);

  transition: transform .3s ease-out;
  cursor: pointer;
}

.image-project img:hover {
  transform: scale(1.01);
}

.card-project span {
  color: var(--color-grey);
  font-weight: bold;
  font-size: 1.7rem;

  margin: .75rem auto .5rem auto;
}

.card-project p {
  color: #3d3d4b;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin: 0rem .75rem;
}

.cta-project {
  width: 200px;
  margin: auto auto 15px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-project a {
  padding: 5px 16px;

  font-size: 1.25rem;
  color: var(--color-white);
  background: var(--color-red);

  border-radius: 10px;

  text-decoration: none;

  transition: opacity .3s ease;
}

.cta-project a:hover {
  opacity: .7;
}

@media (max-width: 375px) {
  .swiper-slide span {
    font-size: 1.5rem;
  }

  .swiper-slide p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .swiper {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .swiper {
    max-width: 350px;
  }
}

@media (min-width: 1840px) {
  .projects-title h2 {
    font-size: calc(1.4vw + 1.8rem);
  }

  .swiper {
    max-width: calc(30vw + 15rem + 30%);
    height: calc(19vw + 22.5rem);
  }

  .image-project {
    max-width: calc(10vw + 11rem);
    max-height: calc(10vw + 10rem);
  }

  .card-project span {
    font-size: calc(1vw + .25rem);
    margin: 0.5vw auto 0.5vw;
  }

  .card-project p {
    font-size: calc(.7vw + .2rem);
  }

  .cta-project {
    width: auto;
  }

  .cta-project a {
    padding: 1rem 2rem;
    font-size: 0.8vw;
    margin-right: 1vw;
  }
}

/* Final do projetc */

#contacts {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 3vw 0vw 5vw;

  background: var(--color-grey);

  color: var(--color-white)
}

.contact-icon-content h2 {
  margin: 3rem 3rem 3rem 0rem;
  padding: 1rem 1rem 1rem 0rem;

  font-size: 3rem;
  color: var(--color-white);
}

.contact-icons-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0rem 3rem;
  padding: 1rem;
}

.contact-icon {
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 2rem;

  background: var(--color-white);
  padding: 1rem;
  border-radius: 50%;
}

.contact-icon i {
  font-size: 2rem;
  color: var(--color-red);
}

.contact-info span {
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-info p {
  margin: .25rem 0rem;
}

.contact-info a {
  display: block;
  margin: .25rem 0rem;

  text-decoration: none;
  color: var(--color-white);
}

.contact-info a:hover {
  transition: color .3s ease;
  color: var(--color-red);
}


@media (min-width: 1840px) {
  .contact-icon-content h2 {
    font-size: calc(1.4vw + 1.8rem);
  }

  .contact-icon {
    width: 3vw;
    height: 3vw;
  }

  .contact-icon i {
    font-size: 1vw;
  }

  .contact-info span {
    font-size: 1.1vw;
  }

  .contact-info p {
    font-size: .7vw;
  }

  .contact-info a {
    font-size: .7vw;
  }
}

#footer {
  height: auto;
  width: 100%;

  padding: calc(3vw + 1rem) 0vw;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;

  background: var(--color-cinzaclaro);
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  color: var(--color-white);

}

@media (min-width: 1840px) {
  .container-footer h2 {
    font-size: calc(1vw + .2rem);
  }

  .container-footer h3 {
    font-size: .8vw;
  }
}



@keyframes written_text {
  100% {
    color: var(--color-white);
  }
}

@keyframes written_text_name {
  100% {
    color: var(--color-red);
  }
}

@keyframes written_text_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

